.fliter-btns {
  position: relative;
  height: 1.33333333rem;
  line-height: 1.18518519rem;
  background-color: #FFF;
  color: #333333;
  border-bottom: 1px solid #DDD;
}
.fliter-btns .iconfont {
  color: #666666;
}
.fliter-btns .line {
  width: 1px;
  height: 0.44444444rem;
  float: left;
  background-color: #999999;
  position: relative;
  top: 0.44444444rem;
  left: -0.18518519rem;
}
.fliter-btns a {
  font-size: 18px;
  color: #333333;
  float: left;
  box-sizing: border-box;
  width: 33.33333333%;
  text-align: center;
}
[data-dpr="2"] .fliter-btns a {
  font-size: 36px;
}
[data-dpr="3"] .fliter-btns a {
  font-size: 54px;
}
.fliter-btns a:active,
.fliter-btns a:visited,
.fliter-btns a:hover {
  color: #333333;
  text-decoration: none;
}
.fliter-btns a .iconfont {
  position: relative;
  top: 0.09259259rem;
}
