.history {
  width: 100%;
  height: auto;
}
.history .person-wrapper {
  width: 100%;
  height: 2.40740741rem;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
}
.history .person {
  width: 100%;
  height: 2.40740741rem;
  background-color: #fff;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.history .person .center-wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 2.22222222rem;
}
.history .person .center-wrapper p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
[data-dpr="2"] .history .person .center-wrapper p {
  font-size: 36px;
}
[data-dpr="3"] .history .person .center-wrapper p {
  font-size: 54px;
}
.history .person .center-wrapper i {
  font-size: 18px;
  color: white;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 100%;
  width: 0.46296296rem;
  height: 0.46296296rem;
  line-height: 0.46296296rem;
  text-align: center;
  background-color: #758fff;
  overflow: hidden;
  margin-left: 0.09259259rem;
}
[data-dpr="2"] .history .person .center-wrapper i {
  font-size: 36px;
}
[data-dpr="3"] .history .person .center-wrapper i {
  font-size: 54px;
}
.history .person .motto {
  color: #666666;
  font-size: 14px;
  margin-top: 0.23148148rem;
}
[data-dpr="2"] .history .person .motto {
  font-size: 28px;
}
[data-dpr="3"] .history .person .motto {
  font-size: 42px;
}
.history .person .logo-wrapper {
  position: absolute;
  top: 50%;
  border: 1px solid #dddddd;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.57407407rem;
  height: 1.57407407rem;
  border-radius: 100%;
  margin-left: 0.46296296rem;
  overflow: hidden;
}
.history .person .logo-wrapper img {
  width: 100%;
  height: 100%;
}
.history .content {
  padding-top: 0.32407407rem;
  height: auto;
  background-color: #fff;
  padding-left: 0.46296296rem;
  border-bottom: 1px solid #dddddd;
}
.history .content p {
  margin: 0;
  padding: 0;
}
.history .content i {
  font-size: 18px;
  margin-right: 0.09259259rem;
}
[data-dpr="2"] .history .content i {
  font-size: 36px;
}
[data-dpr="3"] .history .content i {
  font-size: 54px;
}
.history .content .location i {
  color: #4ea1ff;
}
.history .content .time i {
  color: #44d48b;
}
.history .content .cost i {
  color: #ff7660;
}
.history .content .cost span {
  float: right;
  margin-right: 0.46296296rem;
  font-size: 18px;
  color: #666666;
}
[data-dpr="2"] .history .content .cost span {
  font-size: 36px;
}
[data-dpr="3"] .history .content .cost span {
  font-size: 54px;
}
.history ul {
  padding: 0;
  width: 100%;
  margin-top: 0.23148148rem;
}
.history ul li {
  color: #666666;
  line-height: 0.38888889rem;
  height: 0.69444444rem;
  width: 100%;
  font-size: 14px;
}
[data-dpr="2"] .history ul li {
  font-size: 28px;
}
[data-dpr="3"] .history ul li {
  font-size: 42px;
}
.history .title {
  font-size: 22px;
  color: #333333;
}
[data-dpr="2"] .history .title {
  font-size: 44px;
}
[data-dpr="3"] .history .title {
  font-size: 66px;
}
