.litterLetter {
  overflow: hidden;
  background-color: #fff;
}
.litterLetter .list-wrapper {
  width: 100%;
  height: 1.99074074rem;
}
.litterLetter .list {
  width: 100%;
  position: relative;
  height: 1.99074074rem;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  border-bottom: 1px solid #dddddd;
}
.litterLetter .list .username {
  color: #49a3f6;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 2.22222222rem;
}
.litterLetter .list .content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 9.39814815rem;
  text-overflow: ellipsis;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 215 rem / 108;
}
[data-dpr="2"] .litterLetter .list .content {
  font-size: 32px;
}
[data-dpr="3"] .litterLetter .list .content {
  font-size: 48px;
}
.litterLetter .list .logo-wrapper {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.57407407rem;
  height: 1.57407407rem;
  border-radius: 100%;
  margin-left: 0.46296296rem;
  overflow: hidden;
}
.litterLetter .list .logo-wrapper img {
  width: 100%;
  height: 100%;
}
