.menu-overlay {
  position: absolute;
  top: 0;
  left: -4rem;
  width: 4rem;
  height: 100%;
  background-color: #ff3f47;
  z-index: 10;
  -webkit-transition: -webkit-transform ease-in-out 400ms;
          transition: transform ease-in-out 400ms;
  padding-top: 1.2962963rem;
}
.menu-overlay.active {
  -webkit-transform: translate3d(4rem, 0, 0);
          transform: translate3d(4rem, 0, 0);
}
.menu-overlay .line {
  height: 1.11111111rem;
  text-align: center;
  line-height: 1.11111111rem;
}
.menu-overlay .line a {
  color: #FFF;
  font-size: 17px;
}
[data-dpr="2"] .menu-overlay .line a {
  font-size: 34px;
}
[data-dpr="3"] .menu-overlay .line a {
  font-size: 51px;
}
