@import "var";
//namespace
nav{
//  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 132rem / @psdWidth;
  line-height: 132rem / @psdWidth;
  background-color: @navBgc;
  color: @navColor;
  .nav-container{
    margin: 0 40rem / @psdWidth;
    .clearfix();
  }
  .title{
    .rfz(22px);
    float: left;
    color: #FFF;
    text-decoration: none;
    outline: none;
  }
  .user{
    float: right;
    cursor: pointer;
  }

  .dropdown{
    margin: 0;
    padding: 0;
    float: right;
    position: absolute;
    z-index: 1000;
    top: 132rem / @psdWidth;
    right: 0;
    li{
      width: 326rem / @psdWidth;
      height: 83rem / @psdWidth;
      line-height: 83rem / @psdWidth;
      background-color: @navBgc;
      border-bottom: 1px solid @navBorder;
      .rfz(20px);
      cursor: pointer;
      text-align: center;
      &:hover{
        background-color: @navHoverBgc;
      }
      a{
        text-decoration: none;
        color: #FFF;
        outline: none;
      }
      &:first-child{
        border-top: 1px solid @navBorder;
      }
    }
  }
}
