nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 1.55555556rem;
  line-height: 1.55555556rem;
  background-color: #333333;
  color: #ffffff;
}
nav .nav-container {
  margin: 0 0.44444444rem;
  *zoom: 1;
}
nav .nav-container:before,
nav .nav-container:after {
  display: table;
  content: "";
}
nav .nav-container:after {
  clear: both;
}
nav .title {
  font-size: 22px;
  float: left;
  color: #FFF;
  text-decoration: none;
  outline: none;
}
[data-dpr="2"] nav .title {
  font-size: 44px;
}
[data-dpr="3"] nav .title {
  font-size: 66px;
}
nav .user {
  float: right;
  cursor: pointer;
}
