nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 1.22222222rem;
  line-height: 1.22222222rem;
  background-color: #ff6633;
  color: #ffffff;
}
nav .nav-container {
  margin: 0 0.37037037rem;
  *zoom: 1;
}
nav .nav-container:before,
nav .nav-container:after {
  display: table;
  content: "";
}
nav .nav-container:after {
  clear: both;
}
nav .title {
  font-size: 22px;
  float: left;
  color: #FFF;
  text-decoration: none;
  outline: none;
}
[data-dpr="2"] nav .title {
  font-size: 44px;
}
[data-dpr="3"] nav .title {
  font-size: 66px;
}
nav .user {
  float: right;
  cursor: pointer;
}
nav .dropdown {
  margin: 0;
  padding: 0;
  float: right;
  position: absolute;
  z-index: 1000;
  top: 1.22222222rem;
  right: 0;
}
nav .dropdown li {
  width: 3.01851852rem;
  height: 0.76851852rem;
  line-height: 0.76851852rem;
  background-color: #ff6633;
  border-bottom: 1px solid #ff9470;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
[data-dpr="2"] nav .dropdown li {
  font-size: 40px;
}
[data-dpr="3"] nav .dropdown li {
  font-size: 60px;
}
nav .dropdown li:hover {
  background-color: #000000;
}
nav .dropdown li a {
  text-decoration: none;
  color: #FFF;
  outline: none;
}
nav .dropdown li:first-child {
  border-top: 1px solid #ff9470;
}
