.scroll-container {
  background-color: #EFEFEF;
  *zoom: 1;
}
.scroll-container ul,
.scroll-container li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.scroll-container p {
  margin: 0;
  padding: 0;
}
.scroll-container .prefix-content {
  margin-top: 0.24074074rem;
  background-color: #fff;
  box-shadow: 0 0 3px #DDD;
}
.scroll-container:before,
.scroll-container:after {
  display: table;
  content: "";
}
.scroll-container:after {
  clear: both;
}
.scroll-container .prefix-content .person-wrapper {
  width: 100%;
  background-color: #fff;
}
.scroll-container .prefix-content .person {
  width: 100%;
  height: 1.85185185rem;
  background-color: #fff;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.scroll-container .prefix-content .person .center-wrapper {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 2.22222222rem;
}
.scroll-container .prefix-content .person .center-wrapper .username {
  font-size: 18px;
}
[data-dpr="2"] .scroll-container .prefix-content .person .center-wrapper .username {
  font-size: 36px;
}
[data-dpr="3"] .scroll-container .prefix-content .person .center-wrapper .username {
  font-size: 54px;
}
.scroll-container .prefix-content .person .motto {
  color: #666666;
  font-size: 14px;
  margin-top: 0.11574074rem;
}
[data-dpr="2"] .scroll-container .prefix-content .person .motto {
  font-size: 28px;
}
[data-dpr="3"] .scroll-container .prefix-content .person .motto {
  font-size: 42px;
}
.scroll-container .prefix-content .person .logo-wrapper {
  position: absolute;
  top: 50%;
  border: 1px solid #dddddd;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1.34259259rem;
  height: 1.34259259rem;
  border-radius: 100%;
  margin-left: 0.46296296rem;
  overflow: hidden;
}
.scroll-container .prefix-content .person .logo-wrapper img {
  width: 100%;
  height: 100%;
}
.scroll-container .prefix-content .content {
  overflow: hidden;
  height: auto;
  background-color: #fff;
  padding-left: 0.46296296rem;
}
.scroll-container .prefix-content .content p {
  margin: 0;
  padding: 0;
}
.scroll-container .prefix-content .content i {
  font-size: 18px;
  margin-right: 0.09259259rem;
}
[data-dpr="2"] .scroll-container .prefix-content .content i {
  font-size: 36px;
}
[data-dpr="3"] .scroll-container .prefix-content .content i {
  font-size: 54px;
}
.scroll-container .prefix-content .content .location i {
  color: #4ea1ff;
}
.scroll-container .prefix-content .content .time i {
  color: #44d48b;
}
.scroll-container .prefix-content .content .cost i {
  color: #ff7660;
}
.scroll-container .prefix-content .content .cost span {
  float: right;
  margin-right: 0.46296296rem;
  font-size: 14px;
  color: #666666;
}
[data-dpr="2"] .scroll-container .prefix-content .content .cost span {
  font-size: 28px;
}
[data-dpr="3"] .scroll-container .prefix-content .content .cost span {
  font-size: 42px;
}
.scroll-container .prefix-content .info_content {
  padding: 0;
  width: 100%;
  margin: 0.23148148rem 0;
}
.scroll-container .prefix-content .info_content li {
  color: #666666;
  line-height: 0.69444444rem;
  height: 0.69444444rem;
  width: 100%;
  font-size: 14px;
}
[data-dpr="2"] .scroll-container .prefix-content .info_content li {
  font-size: 28px;
}
[data-dpr="3"] .scroll-container .prefix-content .info_content li {
  font-size: 42px;
}
.scroll-container .prefix-content .title {
  font-size: 18px;
  color: #333333;
}
[data-dpr="2"] .scroll-container .prefix-content .title {
  font-size: 36px;
}
[data-dpr="3"] .scroll-container .prefix-content .title {
  font-size: 54px;
}
.scroll-container .no-one {
  margin: 1rem 2rem;
}
.scroll-container .no-one img {
  width: 100%;
}
