@import "var";
.scroll-container{
  background-color: #EFEFEF;
  ul, li{
    margin: 0;
    padding: 0;
    .reset-list-style();
  }
  li{
    margin-top: 26rem / @psdWidth;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    height: 364rem / @psdWidth;
    background-color: #fff;
  }
  .clearfix();
}