.inputs-wrapper .row {
  width: 100%;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  position: relative;
  padding: 0 0.44444444rem;
  box-sizing: border-box;
  overflow: hidden;
}
.inputs-wrapper .title {
  font-size: 18px;
  color: #212121;
  z-index: 2;
  position: absolute;
}
[data-dpr="2"] .inputs-wrapper .title {
  font-size: 36px;
}
[data-dpr="3"] .inputs-wrapper .title {
  font-size: 54px;
}
.inputs-wrapper input,
.inputs-wrapper select {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: right;
  padding: 0;
  font-size: 16px;
  background: none;
}
[data-dpr="2"] .inputs-wrapper input,
[data-dpr="2"] .inputs-wrapper select {
  font-size: 32px;
}
[data-dpr="3"] .inputs-wrapper input,
[data-dpr="3"] .inputs-wrapper select {
  font-size: 48px;
}
.inputs-wrapper .row.active {
  background: #ddd;
}
.inputs-wrapper .modify {
  font-size: 16px;
}
[data-dpr="2"] .inputs-wrapper .modify {
  font-size: 32px;
}
[data-dpr="3"] .inputs-wrapper .modify {
  font-size: 48px;
}
.inputs-wrapper ::-moz-placeholder {
  color: #999999;
}
.inputs-wrapper ::-webkit-input-placeholder {
  color: #999999;
}
.inputs-wrapper :-ms-input-placeholder {
  color: #999999;
}
.inputs-wrapper select {
  opacity: 0;
}
.inputs-wrapper .modify {
  text-align: right;
  float: right;
}
.inputs-wrapper .academy,
.inputs-wrapper .grade {
  position: absolute;
  top: 0;
}
