.userinfo a {
  color: #666666;
}
.userinfo .selected {
  border-bottom: 10px solid #ff6833;
}
.userinfo .selected a {
  color: #ff6833;
}
.userinfo .userWrapper {
  width: 100%;
  height: 3.83333333rem;
  background-color: white;
  margin: 0.32407407rem 0;
  padding-top: 0.32407407rem;
  text-align: center;
}
.userinfo .userWrapper .userLogo {
  width: 1.94444444rem;
  height: 1.94444444rem;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.userinfo .userWrapper .userLogo img {
  width: 100%;
  height: 100%;
}
.userinfo .userWrapper .userName {
  color: #333333;
}
.userinfo .userWrapper .userName i {
  font-size: 18px;
  color: white;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border-radius: 100%;
  width: 0.46296296rem;
  height: 0.46296296rem;
  background-color: #5aa4ff;
  overflow: hidden;
  margin-left: 10px;
}
[data-dpr="2"] .userinfo .userWrapper .userName i {
  font-size: 36px;
}
[data-dpr="3"] .userinfo .userWrapper .userName i {
  font-size: 54px;
}
.userinfo .userWrapper .motto {
  color: #666666;
  font-size: 16px;
}
[data-dpr="2"] .userinfo .userWrapper .motto {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .userWrapper .motto {
  font-size: 48px;
}
.userinfo .userWrapper p {
  color: #666666;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  margin: 0.18518519rem;
}
[data-dpr="2"] .userinfo .userWrapper p {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .userWrapper p {
  font-size: 48px;
}
.userinfo ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
  background-color: white;
  height: 1.11111111rem;
}
.userinfo .tab {
  *zoom: 1;
  height: 1.34259259rem;
}
.userinfo .tab:before,
.userinfo .tab:after {
  display: table;
  content: "";
}
.userinfo .tab:after {
  clear: both;
}
.userinfo .tab i {
  font-size: 18px;
  margin-right: 10px;
}
[data-dpr="2"] .userinfo .tab i {
  font-size: 36px;
}
[data-dpr="3"] .userinfo .tab i {
  font-size: 54px;
}
.userinfo .tab li {
  width: 50%;
  box-sizing: border-box;
  height: 1.34259259rem;
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
[data-dpr="2"] .userinfo .tab li {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .tab li {
  font-size: 48px;
}
.userinfo .tab div {
  width: 100%;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.userinfo .tab div a {
  display: inline;
}
.userinfo .tab div:first-child {
  border-right: 1px solid #666666;
}
.userinfo .detail_info {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.userinfo .detail_info li {
  width: 100%;
  box-sizing: border-box;
  height: 1.2962963rem;
  line-height: 1.2962963rem;
  background-color: #fff;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  color: #666666;
  padding-left: 0.41666667rem;
}
[data-dpr="2"] .userinfo .detail_info li {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .detail_info li {
  font-size: 48px;
}
