.userinfo a {
  color: #666666;
}
.userinfo .swiper-slide {
  width: 100%;
}
.userinfo .userWrapper {
  width: 100%;
  height: 3.83333333rem;
  background-color: white;
  margin: 0.32407407rem 0;
  padding-top: 0.32407407rem;
  text-align: center;
}
.userinfo .userWrapper .userLogo {
  width: 1.94444444rem;
  height: 1.94444444rem;
  border-radius: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.userinfo .userWrapper .userLogo img {
  width: 100%;
  height: 100%;
}
.userinfo .userWrapper .userName {
  color: #333333;
}
.userinfo .userWrapper .motto {
  color: #666666;
  font-size: 16px;
}
[data-dpr="2"] .userinfo .userWrapper .motto {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .userWrapper .motto {
  font-size: 48px;
}
.userinfo .userWrapper p {
  color: #666666;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
  margin: 0.18518519rem;
}
[data-dpr="2"] .userinfo .userWrapper p {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .userWrapper p {
  font-size: 48px;
}
.userinfo ul {
  padding: 0;
  width: 100%;
  list-style-type: none;
  background-color: white;
  height: 1.11111111rem;
}
.userinfo .tab {
  *zoom: 1;
  height: 1.34259259rem;
}
.userinfo .tab:before,
.userinfo .tab:after {
  display: table;
  content: "";
}
.userinfo .tab:after {
  clear: both;
}
.userinfo .tab i {
  font-size: 18px;
  margin-right: 10px;
}
[data-dpr="2"] .userinfo .tab i {
  font-size: 36px;
}
[data-dpr="3"] .userinfo .tab i {
  font-size: 54px;
}
.userinfo .tab li {
  width: 50%;
  box-sizing: border-box;
  height: 1.34259259rem;
  float: left;
  border-bottom: 0.09259259rem solid white;
  position: relative;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
[data-dpr="2"] .userinfo .tab li {
  font-size: 32px;
}
[data-dpr="3"] .userinfo .tab li {
  font-size: 48px;
}
.userinfo .tab li.selected {
  border-bottom: 0.09259259rem solid #ff6833;
}
.userinfo .tab li.selected i,
.userinfo .tab li.selected span {
  color: #ff6833;
}
.userinfo .tab div {
  width: 100%;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.userinfo .tab .border {
  border-right: 1px solid #666666;
}
.userinfo #tab-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.userinfo #tab-container .tab-wrapper {
  width: 200%;
  height: auto;
  box-sizing: border-box;
}
.userinfo #tab-container .tab-wrapper .tab-li {
  float: left;
  width: 50%;
}
.userinfo #tab-container .detail-info {
  height: 6.71296296rem;
  margin: 0;
  padding: 0;
}
.userinfo #tab-container .detail-info li {
  width: 100%;
  box-sizing: border-box;
  height: 1.34259259rem;
  line-height: 1.2962963rem;
  background-color: #fff;
  border-bottom: 1px solid #DDDDDD;
  font-size: 16px;
  color: #666666;
  padding-left: 0.41666667rem;
}
[data-dpr="2"] .userinfo #tab-container .detail-info li {
  font-size: 32px;
}
[data-dpr="3"] .userinfo #tab-container .detail-info li {
  font-size: 48px;
}
.userinfo #tab-container .detail-info li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 0.92592593rem;
}
.userinfo #tab-container .content {
  height: 3.7037037rem;
  padding-top: 0.32407407rem;
  background-color: #fff;
  padding-left: 0.46296296rem;
  border-bottom: 1px solid #dddddd;
}
.userinfo #tab-container .content p {
  margin: 0;
}
.userinfo #tab-container .content ul {
  padding: 0;
  width: 100%;
}
.userinfo #tab-container .content ul li {
  color: #666666;
  line-height: 0.38888889rem;
  height: 0.69444444rem;
  width: 100%;
  font-size: 14px;
}
[data-dpr="2"] .userinfo #tab-container .content ul li {
  font-size: 28px;
}
[data-dpr="3"] .userinfo #tab-container .content ul li {
  font-size: 42px;
}
.userinfo #tab-container .content .title {
  font-size: 22px;
  color: #333333;
}
[data-dpr="2"] .userinfo #tab-container .content .title {
  font-size: 44px;
}
[data-dpr="3"] .userinfo #tab-container .content .title {
  font-size: 66px;
}
.userinfo #tab-container .content i {
  font-size: 18px;
  margin-right: 0.09259259rem;
}
[data-dpr="2"] .userinfo #tab-container .content i {
  font-size: 36px;
}
[data-dpr="3"] .userinfo #tab-container .content i {
  font-size: 54px;
}
.userinfo #tab-container .content .location i {
  color: #4ea1ff;
}
.userinfo #tab-container .content .time i {
  color: #44d48b;
}
.userinfo #tab-container .content .cost i {
  color: #ff7660;
}
.userinfo #tab-container .content .cost span {
  float: right;
  margin-right: 0.46296296rem;
  font-size: 18px;
  color: #666666;
}
[data-dpr="2"] .userinfo #tab-container .content .cost span {
  font-size: 36px;
}
[data-dpr="3"] .userinfo #tab-container .content .cost span {
  font-size: 54px;
}
